// img-list
.img-list {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.img-list li {
  margin: 10px 30px;
}

// home (about me) section
.about-me-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
  padding-left: 3%;
}

.university, .web {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 420px;
  margin-top: 100px;
  letter-spacing: 1px;
}

.smile {
  font-size: 50px;
  align-self: center;
}

.learning {
  list-style: disc;
}

#tp2p {
  margin-top: 30px;
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 768px) {
  .about-me-section {
    padding-left: 0;

    .university, .web {
      width: 100%;
      margin: 25px 0px 5px;
      p {
        padding: 5px;
      }
    }
    ul {
      justify-content: space-around;
      li {
        margin: 0;
      }
    }
  }

}