.resume-section {
  padding: 4%;
  height: 72vh;
  display: flex;
  align-items: center;

  .info {
    height: 75vh;
    padding: 0 7%;
    display: flex;
    justify-content: space-around;
    //flex-direction: column;
    //align-items: center;
  }

  .about {
    width: 60%;
  }
  .work {
    align-self: center;
  }
  .qualities {
    align-self: flex-end;
  }
}

@media screen and (max-width: 768px) {

  .resume-section {
    flex-direction: column;
    height: auto;
    .info {
      width: 100%;
      height: auto;
    }
    .qualities {
      align-self: auto;
    }
  }

}