/*************/
/* VARIABLES */
/*************/
$color-pri: #111111;
$color-sec: #555555;
$color-ter: #92BCEA;

/********/
/* BASE */
/********/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {font:400 16px 'Montserrat', sans-serf;}

/**********/
/* LAYOUT */
/**********/

#header {position:relative;}
#header-content {width:100%;}
#header-logo {padding:1em; background:$color-pri;}
#header-nav {padding:1em; background:$color-sec;}
#header-nav-toggle {color:#fff; font-size:2em; position:absolute; top:.5em; right:.5em; z-index:1; cursor:pointer;}


/***********/
/* MODULES */
/***********/

/* Measure */
.measure {width:90%; max-width:800px; margin:0 auto;}

/* Logo */
.logo {color:#fff; font-weight:700; margin:0;}

/* Nav */
.nav {list-style:none; margin:0; padding:0;}
.nav li {width:100%; padding: 1em 0; display:block;}
.nav li:last-child {margin:0;}
.nav a {color:#fff; text-decoration:none; display: block}


/*************/
/* MODIFIERS */
/*************/
.is-hidden {display:none;}
.is-visible {display:block;}


/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (min-width:600px) {
  /* Home */
  #header {padding:1em; background:$color-pri;}
  #header-content {max-width:800px; margin:0 auto; overflow:hidden;}
  #header-logo {padding:0; background:none; float:left;}
  #header-nav  {padding:.5em; background:none; float:right; display:block;}
  #header-nav-toggle {display:none;}

  /* Nav */
  .nav li {width:auto; margin:0 .5em; display:inline-block;}

}








/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  //margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}



/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


