.contacts-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.info span {
  margin-bottom: 10px;
}



@media screen and (max-width: 768px) {
  .contacts-section {
    flex-direction: column;
    img {
      width: 100%;
    }
  }
}